  {:paths ["src" "resources" "target"]
   :deps {rum {:mvn/version "0.11.3"}}
   :aliases
   {:dev {:extra-paths ["test"]
          :extra-deps
          {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}}
    :fig {:main-opts ["-m" "figwheel.main"]}}}
